
@{
    ViewData["Title"] = "About";
}

<article>
    <h2>Cash Now</h2>

    <p>
        Our team of accountants and brokers give you your money when you need it now. If you have a structured settlement call 877.CashNow.
    </p>
    <p>
        Its your money, you need it now. 
    </p>
</article>


