@{
    ViewBag.Title = "Contact Us";
}
<img src="~/images/money.jpg" alt="money growing"
     style="width:25%;outline:5px black solid; outline-offset:10px;float:right;margin-top:2%;"/>
<h2>Contact Us</h2>
<h3>Its your money. You need it NOW!</h3>

<address>
    210 Double Street<br />
    Crystal Cove, CA 90210<br />
    <abbr title="Phone">P:</abbr>
    877.CASHNOW
</address>

<address>
    <strong>Tech Support:</strong> <a href="mailto:Support@CashNow.com">Support@CashNow.com</a><br />
    <strong>Sales/Marketing:</strong> <a href="mailto:Marketing@CashNow.com">Marketing@CashNow.com</a>
</address>